{{ homeassistant.container.mosquitto.config.homeassistant.username }}:{{ homeassistant.container.mosquitto.config.homeassistant.password | mosquitto_password_hash }}
{{ homeassistant.container.mosquitto.config.zigbee2mqtt.username }}:{{ homeassistant.container.mosquitto.config.zigbee2mqtt.password | mosquitto_password_hash }}
