---
- name: Ensure ufw is installed
  ansible.builtin.package:
    name: "ufw"
    state: present

- name: Ensure incoming and routed traffic is denied by default
  community.general.ufw:
    default: deny
    direction: "{{ item }}"
  loop:
    - incoming
    - routed

- name: Ensure outgoing traffic is allowed by default
  community.general.ufw:
    default: allow
    direction: outgoing

- name: Ensure NAT rules are present in ufw manual configuration
  ansible.builtin.blockinfile:
    path: /etc/ufw/before.rules
    marker: "# {mark} ANSIBLE NAT RULES"
    block: |
      *nat
      :PREROUTING ACCEPT [0:0]
      :OUTPUT ACCEPT [0:0]
      :POSTROUTING ACCEPT [0:0]

      # NAT_RULE_MARKER

      COMMIT
    insertbefore: BOF
    create: false

- name: Ensure NAT rules are present in ufw manual configuration
  ansible.builtin.blockinfile:
    path: /etc/ufw/before.rules
    marker: "# {mark} ANSIBLE NAT RULES FOR HTTP/HTTPS"
    block: |
      -A PREROUTING -i eth0 -p tcp --dport 80 -j REDIRECT --to-ports {{ traefik_global.container.server.config.web_port }}
      -A PREROUTING -i eth0 -p tcp --dport 443 -j REDIRECT --to-ports {{ traefik_global.container.server.config.websecure_port }}
      -A PREROUTING -i tailscale0 -p tcp --dport 80 -j REDIRECT --to-ports {{ traefik_global.container.server.config.web_port }}
      -A PREROUTING -i tailscale0 -p tcp --dport 443 -j REDIRECT --to-ports {{ traefik_global.container.server.config.websecure_port }}
      -A OUTPUT -o lo -p tcp --dport 80 -j REDIRECT --to-ports {{ traefik_global.container.server.config.web_port }}
      -A OUTPUT -o lo -p tcp --dport 443 -j REDIRECT --to-ports {{ traefik_global.container.server.config.websecure_port }}
    insertafter: "# NAT_RULE_MARKER"
    create: false

- name: Ensure ssh and traefik connection is allowed
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - ssh
    - "{{ traefik_global.container.server.config.web_port }}"
    - "{{ traefik_global.container.server.config.websecure_port }}"

- name: Ensure ufw rules are running and reloaded on boot
  community.general.ufw:
    state: enabled
  async: 3
  poll: 0

