export MISE_DATA_DIR="$(direnv_layout_dir)/mise"
export MISE_CACHE_DIR="$(direnv_layout_dir)/mise-cache"

# Mise commands have to be executed next to the mise file to effectively update the PATH variable.
cd "$(expand_path .)/dependencies/mise/"
eval "$(mise direnv activate)"
use mise
cd "$(expand_path .)"

