export MISE_DATA_DIR="$(direnv_layout_dir)/mise"
export MISE_CACHE_DIR="$(direnv_layout_dir)/mise-cache"
export MISE_DOWNLOADS_DIR="${MISE_DATA_DIR}/downloads"
export MISE_TASK_OUTPUTS="$(direnv_layout_dir)/mise-task-outputs"
export KUBECONFIG="$(direnv_layout_dir)/kubeconfig"
export BUNDLE_PATH="$(direnv_layout_dir)/ruby/bundle"
export VAGRANT_HOME="$(direnv_layout_dir)/vagrant"
export ANSIBLE_ROLES_PATH="$(direnv_layout_dir)/ansible-galaxy/roles"
export ANSIBLE_COLLECTIONS_PATH="$(direnv_layout_dir)/ansible-galaxy/collections"

eval "$(mise direnv activate)"
use mise

