---
- name: Ensure photoprism data location exists
  ansible.builtin.file:
    path: "{{ photoprism.container.mariadb.storage.data }}"
    state: directory
    owner: "{{ photoprism.user.name }}"
    group: "{{ photoprism.user.name }}"
    mode: 0755
    recurse: true

- name: Instantiate photoprism-mariadb container
  ansible.builtin.import_role:
    name: infrastructure/container
  vars:
    container_name: photoprism_mariadb
    container_image: "{{ photoprism.container.mariadb.image }}"
    container_image_tag: "{{ photoprism.container.mariadb.tag }}"
    container_command:
      - "--innodb-buffer-pool-size=512M"
      - "--transaction-isolation=READ-COMMITTED"
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
      - "--max-connections=512"
      - "--innodb-rollback-on-timeout=OFF"
      - "--innodb-lock-wait-timeout=120"
    container_env:
      MARIADB_DATABASE: "{{ photoprism.container.mariadb.config.db.name }}"
      MARIADB_USER: "{{ photoprism.container.mariadb.config.db.username }}"
      MARIADB_PASSWORD: "{{ photoprism.container.mariadb.config.db.password }}"
      MARIADB_ROOT_PASSWORD: "{{ photoprism.container.mariadb.config.db.root_password }}"
    container_volumes:
      - "{{ photoprism.container.mariadb.storage.data }}:/var/lib/mysql"
    container_networks:
      - "{{ photoprism.container.network }}"
    container_network_aliases:
      - database
    container_user: "{{ photoprism.user.name }}"

