{{ homeassistant_mosquitto_homeassistant_username }}:{{ homeassistant_mosquitto_homeassistant_password | mosquitto_password_hash }}
{{ homeassistant_mosquitto_zigbee2mqtt_username }}:{{ homeassistant_mosquitto_zigbee2mqtt_password | mosquitto_password_hash }}
