---
- name: Ensure homeassistant config location exists
  ansible.builtin.file:
    path: "{{ homeassistant_config_location }}"
    state: directory
    owner: "{{ homeassistant_user }}"
    group: "{{ homeassistant_user }}"
    mode: 0755
    recurse: true

- name: Ensure treafik is configured for homeassistant
  ansible.builtin.import_role:
    name: infrastructure/traefik-service
  vars:
    service_name: homeassistant
    service_port: "{{ homeassistant_server_port }}"

- name: Instantiate homeassistant-server container
  ansible.builtin.import_role:
    name: infrastructure/container
  vars:
    container_name: homeassistant_server
    container_image: "{{ homeassistant_server_image }}"
    container_image_tag: "{{ homeassistant_server_tag }}"
    container_volumes:
      - "{{ homeassistant_config_location }}:/config:rw"
      - /etc/localtime:/etc/localtime:ro
    container_ports:
      - "{{ homeassistant_server_port }}:8123"
    container_networks:
      - "{{ homeassistant_network }}"
    container_network_aliases:
      - homeassistant-server
    container_user: "{{ homeassistant_user }}"

- name: Ensure homeassistant is started and configuration exists (necessary if executed for the first time)
  ansible.builtin.import_role:
    name: infrastructure/http-healthcheck
  vars:
    service_name: homeassistant
    service_port: "{{ homeassistant_server_port }}"
    skip_reverse_proxy: true

- name: Ensure ssh directory exists
  ansible.builtin.file:
    path: "/home/{{ homeassistant_user }}/.ssh"
    state: directory
    owner: "{{ homeassistant_user }}"
    group: "{{ homeassistant_user }}"
    mode: 0755

- name: Ensure ssh private key to turn of server exists
  ansible.builtin.copy:
    dest: "/home/{{ homeassistant_user }}/.ssh/server_ssh_key"
    content: |
      {{ homeassistant_server_wol_poweroff_user_ssh_private_key_base64 | b64decode }}
    owner: "{{ homeassistant_user }}"
    group: "{{ homeassistant_user }}"
    mode: 0600

- name: Ensure homeassistant is configured correctly
  ansible.builtin.blockinfile:
    path: "{{ homeassistant_config_location }}/configuration.yaml"
    marker: "# {mark} ANSIBLE CONFIGURATION"
    block: |
      http:
        use_x_forwarded_for: true
        trusted_proxies:
          # This is not a viable option, if HA is exposed directly. The current setup only exposes it via
          # the reverse proxy and in the local environment due to the firewall configuration. As such,
          # this is acceptable.
          - 0.0.0.0/0
      wake_on_lan:
      switch:
        - platform: wake_on_lan
          mac: F0:79:59:66:50:6F
          name: Wake on LAN Charon
          host: 192.168.1.3
          broadcast_address: 192.168.1.3
          turn_off:
            action: shell_command.turn_off_charon
      shell_command:
        turn_off_charon: 'ssh {{ wol_poweroff_user }}@192.168.1.3 -i /home/{{ homeassistant_user }}/.ssh/server_ssh_key {{ server_superuser_method }} /sbin/poweroff'
    insertafter: EOF
    create: false

- name: Restart homeassistant container to update configuration
  containers.podman.podman_container:
    name: homeassistant_server
    restart: true

- ansible.builtin.import_role:
    name: infrastructure/http-healthcheck
  vars:
    service_name: homeassistant
    service_port: "{{ homeassistant_server_port }}"

