---
- ansible.builtin.import_role:
    name: infrastructure/build_vars
  vars:
    service: homeassistant

- name: "Ensure {{ homeassistant.user.name }} is created"
  ansible.builtin.import_role:
    name: infrastructure/user
  vars:
    user_name: "{{ homeassistant.user.name }}"
    user_password: "{{ homeassistant.user.password }}"

- name: "Ensure {{ homeassistant.user.name }} is the owner of the zigbee adapter device"
  ansible.builtin.template:
    dest: /etc/udev/rules.d/99-zigbee-stick.rules
    src: zigbee2mqtt/99-zigbee-stick.rules.j2
    owner: root
    group: root
    mode: 0644
  become: true
  become_method: "{{ superuser_method }}"

- name: Reload udev rules
  ansible.builtin.command: "{{ superuser_method }} udevadm control --reload-rules"

- name: Trigger udev rule load
  ansible.builtin.command: "{{ superuser_method }} udevadm trigger"

- name: Ensure homeassistant storage directory location exists
  ansible.builtin.import_role:
    name: infrastructure/service-data-directory
  vars:
    data_storage: "{{ homeassistant.data_storage }}"
    user: "{{ homeassistant.user.name }}"

- name: Ensure homeassistant is running
  become: true
  become_user: "{{ homeassistant.user.name }}"
  block:
    - name: Ensure homeassistant container network is created
      containers.podman.podman_network:
        name: "{{ homeassistant.container.network }}"
        driver: bridge
        recreate: false
        state: present

    - import_tasks: mosquitto.yaml
    - import_tasks: zigbee2mqtt.yaml
    - import_tasks: homeassistant-server.yaml

