---
- name: Ensure mosquitto config location exists
  ansible.builtin.file:
    path: "{{ homeassistant.container.mosquitto.storage.config }}"
    state: directory
    owner: "{{ homeassistant.user.name }}"
    group: "{{ homeassistant.user.name }}"
    mode: 0755
    recurse: true

- name: Ensure mosquitto config exists
  ansible.builtin.template:
    dest: "{{ homeassistant.container.mosquitto.storage.config }}/mosquitto.conf"
    src: mosquitto/mosquitto.conf.j2
    owner: "{{ homeassistant.user.name }}"
    group: "{{ homeassistant.user.name }}"
    mode: 0644

- name: Ensure mosquitto password config exists
  ansible.builtin.template:
    dest: "{{ homeassistant.container.mosquitto.storage.config }}/passwords"
    src: mosquitto/passwords.j2
    owner: "{{ homeassistant.user.name }}"
    group: "{{ homeassistant.user.name }}"
    mode: 0600

- name: Instantiate mosquitto container
  ansible.builtin.import_role:
    name: infrastructure/container
  vars:
    container_name: mosquitto
    container_image: "{{ homeassistant.container.mosquitto.image }}"
    container_image_tag: "{{ homeassistant.container.mosquitto.tag }}"
    container_volumes:
      - "{{ homeassistant.container.mosquitto.storage.config }}:/mosquitto/config:ro"
    container_networks:
      - "{{ homeassistant.container.network }}"
    container_network_aliases:
      - mosquitto
    container_user: "{{ homeassistant.user.name }}"

