---
- name: Ensure immich upload location exists
  ansible.builtin.file:
    path: "{{ immich.container.server.storage.upload }}"
    state: directory
    owner: "{{ immich.user.name }}"
    group: "{{ immich.user.name }}"
    mode: 0755
    recurse: true

- name: Ensure treafik is configured for immich
  ansible.builtin.import_role:
    name: infrastructure/traefik-service
  vars:
    service_name: immich
    service_port: "{{ immich.container.server.config.port }}"

- name: Instantiate immich-server container
  ansible.builtin.import_role:
    name: infrastructure/container
  vars:
    container_name: immich_server
    container_image: "{{ immich.container.server.image }}"
    container_image_tag: "{{ immich.container.server.tag }}"
    container_env:
      DB_DATABASE_NAME: "{{ immich.container.postgres.config.db.name }}"
      DB_USERNAME: "{{ immich.container.postgres.config.db.username }}"
      DB_PASSWORD: "{{ immich.container.postgres.config.db.password }}"
    container_volumes:
      - "{{ immich.container.server.storage.upload }}:/usr/src/app/upload:rw"
      - /etc/localtime:/etc/localtime:ro
    container_ports:
      - "{{ immich.container.server.config.port }}:2283"
    container_networks:
      - "{{ immich.container.network }}"
    container_network_aliases:
      - immich-server
    container_user: "{{ immich.user.name }}"

- ansible.builtin.import_role:
    name: infrastructure/http-healthcheck
  vars:
    service_name: immich
    service_port: "{{ immich.container.server.config.port }}"

