---
- name: Ensure model cache volume exists
  containers.podman.podman_volume:
    state: present
    name: model-cache

- name: Instantiate immich-machine-learning container
  ansible.builtin.import_role:
    name: infrastructure/container
  vars:
    container_name: immich_machine_learning
    container_image: "{{ immich.container.machine_learning.image }}"
    container_image_tag: "{{ immich.container.machine_learning.tag }}"
    container_env:
      DB_DATABASE_NAME: "{{ immich.container.postgres.config.db.name }}"
      DB_USERNAME: "{{ immich.container.postgres.config.db.username }}"
      DB_PASSWORD: "{{ immich.container.postgres.config.db.password }}"
    container_volumes:
      - model-cache:/cache
    container_networks:
      - "{{ immich.container.network }}"
    container_network_aliases:
      - immich-machine-learning
    container_user: "{{ immich.user.name }}"

