---
- ansible.builtin.import_role:
    name: infrastructure/build_vars
  vars:
    service: immich

- name: "Ensure {{ immich.user.name }} is created"
  ansible.builtin.import_role:
    name: infrastructure/user
  vars:
    user_name: "{{ immich.user.name }}"
    user_password: "{{ immich.user.password }}"

- name: Ensure immich storage directory location exists
  ansible.builtin.import_role:
    name: infrastructure/service-data-directory
  vars:
    data_storage: "{{ immich.data_storage }}"
    user: "{{ immich.user.name }}"

- name: Ensure immich is running
  become: true
  become_user: "{{ immich.user.name }}"
  block:
    - name: Ensure immich container network is created
      containers.podman.podman_network:
        name: "{{ immich.container.network }}"
        driver: bridge
        recreate: false
        state: present

    - import_tasks: immich-database.yaml
    - import_tasks: immich-redis.yaml
    - import_tasks: immich-machine-learning.yaml
    - import_tasks: immich-server.yaml

