---
- name: "Ensure {{ immich_user }} is created"
  ansible.builtin.include_role:
    name: infrastructure/user
  vars:
    user_name: "{{ immich_user }}"
    user_password: "{{ immich_user_password }}"

- name: Ensure immich storage directory location exists
  ansible.builtin.include_role:
    name: infrastructure/service-data-directory
  vars:
    path: "{{ immich_storage_directory }}"
    user: "{{ immich_user }}"

- name: Ensure immich is running
  become: true
  become_user: "{{ immich_user }}"
  block:
    - name: Ensure immich container network is created
      containers.podman.podman_network:
        name: "{{ immich_network }}"
        driver: bridge
        recreate: false
        state: present

    - include_tasks: immich-database.yaml
    - include_tasks: immich-redis.yaml
    - include_tasks: immich-machine-learning.yaml
    - include_tasks: immich-server.yaml

