---
- ansible.builtin.import_role:
    name: infrastructure/build_vars
  vars:
    service: traefik

- name: "Ensure {{ traefik.user.name }} is created"
  ansible.builtin.import_role:
    name: infrastructure/user
  vars:
    user_name: "{{ traefik.user.name }}"
    user_password: "{{ traefik.user.password }}"

- name: Ensure traefik storage directory location exists
  ansible.builtin.import_role:
    name: infrastructure/service-data-directory
  vars:
    data_storage: "{{ traefik.data_storage }}"
    user: "{{ traefik.user.name }}"

- name: Ensure traefik is running
  import_tasks: traefik.yaml
  become: true
  become_user: "{{ traefik.user.name }}"

