---
platform: debian

pihole_global:
  user:
    name: pihole-user
  data_storage:
    filesystem: ext4
    root: "/home/{{ pihole_global.user.name }}/pihole-storage"
  container:
    network: pihole_network
    server:
      image: docker.io/pihole/pihole
      tag: 2025.11.1
      config:
        webserver:
          port: 20400
        dns:
          port: 20453
          upstreams: "1.1.1.1;1.0.0.1;8.8.8.8;8.8.4.4"
          hosts: |
            192.168.1.3 traefik.charon.mikemarti.ch
            192.168.1.3 immich.charon.mikemarti.ch
            192.168.1.3 filebrowser.charon.mikemarti.ch
            192.168.1.3 photoprism.charon.mikemarti.ch
            192.168.1.3 gitea.charon.mikemarti.ch
            192.168.1.4 traefik.daisy.mikemarti.ch
            192.168.1.4 pihole.daisy.mikemarti.ch
            192.168.1.4 homeassistant.daisy.mikemarti.ch
            192.168.1.4 karakeep.daisy.mikemarti.ch
      storage:
        config: "{{ pihole_global.data_storage.root }}/config"
        dnsmasq: "{{ pihole_global.data_storage.root }}/dnsmasq"
        logs: "{{ pihole_global.data_storage.root }}/logs"

homeassistant_global:
  user:
    name: homeassistant-user
  data_storage:
    filesystem: ext4
    root: "/home/{{ homeassistant_global.user.name }}/homeassistant-storage"
  container:
    network: homeassistant_network
    server:
      image: ghcr.io/home-assistant/home-assistant
      tag: 2025.9.4
      config:
        port: 20500
      storage:
        config: "{{ homeassistant_global.data_storage.root }}/config"
    mosquitto:
      image: docker.io/eclipse-mosquitto
      tag: 2.0.22
      config:
        internal_port: 1883
      storage:
        config: "{{ homeassistant_global.data_storage.root }}/mosquitto-config"
    zigbee2mqtt:
      image: ghcr.io/koenkk/zigbee2mqtt
      tag: 2.6.2
      config:
        port: 20501
      storage:
        config: "{{ homeassistant_global.data_storage.root }}/zigbee2mqtt-config"

karakeep_global:
  user:
    name: karakeep-user
  data_storage:
    filesystem: ext4
    root: "/home/{{ karakeep_global.user.name }}/karakeep-storage"
  container:
    network: karakeep_network
    server:
      image: ghcr.io/karakeep-app/karakeep
      tag: 0.27.1
      config:
        port: 20600
      storage:
        data: "{{ karakeep_global.data_storage.root }}/data"
    chrome:
      image: gcr.io/zenika-hub/alpine-chrome
      tag: 124
    meilisearch:
      image: docker.io/getmeili/meilisearch
      tag: v1.13.3
      storage:
        data: "{{ karakeep_global.data_storage.root }}/meilisearch-data"

