---
platform: alpine
processor_microcode_package: intel-ucode

zfs_global:
  service_data_pool_name: service_data

immich_global:
  user:
    name: immich-user
  data_storage:
    filesystem: zfs
    root: "/{{ zfs.service_data_pool_name }}/immich-storage"
  container:
    network: immich_network
    server:
      image: ghcr.io/immich-app/immich-server
      tag: v2.1.0
      config:
        port: 20000
      storage:
        upload: "{{ immich_global.data_storage.root }}/library"
    machine_learning:
      image: ghcr.io/immich-app/immich-machine-learning
      tag: v2.1.0
    redis:
      image: docker.io/valkey/valkey
      tag: 8-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
      storage:
        data: "{{ immich_global.data_storage.root }}/redis"
    postgres:
      image: ghcr.io/immich-app/postgres
      tag: 14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
      config:
        db:
          name: immich_database
          username: immich_pg_user
      storage:
        data: "{{ immich_global.data_storage.root }}/postgres"

filebrowser_global:
  user:
    name: filebrowser-user
  data_storage:
    filesystem: zfs
    root: "/{{ zfs.service_data_pool_name }}/filebrowser-storage"
  container:
    network: filebrowser_network
    server:
      image: docker.io/filebrowser/filebrowser
      tag: v2.44.1
      config:
        port: 20100
      storage:
        config: "{{ filebrowser_global.data_storage.root }}/config"
        data: "{{ filebrowser_global.data_storage.root }}/data"
        db_data: "{{ filebrowser_global.data_storage.root }}/database"

photoprism_global:
  user:
    name: photoprism-user
  data_storage:
    filesystem: zfs
    root: "/{{ zfs.service_data_pool_name }}/photoprism-storage"
  container:
    network: photoprism_network
    server:
      image: docker.io/photoprism/photoprism
      tag: 250707
      config:
        port: 20200
      storage:
        originals: "{{ photoprism_global.data_storage.root }}/originals"
        storage: "{{ photoprism_global.data_storage.root }}/storage"
    mariadb:
      image: docker.io/mariadb
      tag: 11.8.3
      config:
        db:
          name: photoprism_database
          username: photoprism_mariadb_user
      storage:
        data: "{{ photoprism_global.data_storage.root }}/mariadb"

gitea_global:
  user:
    name: gitea-user
  data_storage:
    filesystem: zfs
    root: "/{{ zfs.service_data_pool_name }}/gitea-storage"
  container:
    network: gitea_network
    server:
      image: docker.gitea.com/gitea
      tag: 1.24.6-rootless
      config:
        port: 20300
        ssh_port: 20322
      storage:
        data: "{{ gitea_global.data_storage.root }}/data"
        config: "{{ gitea_global.data_storage.root }}/config"
    postgres:
      image: docker.io/postgres
      tag: 14.19
      config:
        db:
          name: gitea_database
          username: gitea_pg_user
      storage:
        data: "{{ gitea_global.data_storage.root }}/postgres"

