{
  "description": "Allow access to traefik service",

  "service": {
    "traefik": [
      { "proto": "tcp", "port": {{ traefik_global.web_port }} },
      { "proto": "tcp", "port": {{ traefik_global.websecure_port }} }
    ]
  },

  "filter": [
    {
      "in": "internet",
      "out": "_fw",
      "service": "traefik",
      "action": "accept"
    },
    {
      "in": "vpn",
      "out": "_fw",
      "service": "traefik",
      "action": "accept"
    }
  ],

  "dnat": [
    {
      "in": "internet",
      "service": "http",
      "to-port": {{ traefik_global.web_port }}
    },
    {
      "in": "vpn",
      "service": "http",
      "to-port": {{ traefik_global.web_port }}
    },
    {
      "in": "internet",
      "service": "https",
      "to-port": {{ traefik_global.websecure_port }}
    },
    {
      "in": "vpn",
      "service": "https",
      "to-port": {{ traefik_global.websecure_port }}
    }
  ]
}
