---
- name: Ensure karakeep meilisearch data location exists
  ansible.builtin.file:
    path: "{{ karakeep.container.meilisearch.storage.data }}"
    state: directory
    owner: "{{ karakeep.user.name }}"
    group: "{{ karakeep.user.name }}"
    mode: 0755

- name: Instantiate karakeep-meilisearch container
  ansible.builtin.import_role:
    name: infrastructure/container
  vars:
    container_name: karakeep_meilisearch
    container_image: "{{ karakeep.container.meilisearch.image }}"
    container_image_tag: "{{ karakeep.container.meilisearch.tag }}"
    container_env:
      MEILI_MASTER_KEY: "{{ karakeep.container.meilisearch.config.master_key }}"
      MEILI_NO_ANALYTICS: "true"
    container_volumes:
      - "{{ karakeep.container.meilisearch.storage.data }}:/meili_data"
    container_networks:
      - "{{ karakeep.container.network }}"
    container_network_aliases:
      - meilisearch
    container_user: "{{ karakeep.user.name }}"

