---
- name: Ensure karakeep data location exist
  ansible.builtin.file:
    path: "{{ karakeep.container.server.storage.data }}"
    state: directory
    owner: "{{ karakeep.user.name }}"
    group: "{{ karakeep.user.name }}"
    mode: 0755
    recurse: true

- name: Ensure treafik is configured for karakeep
  ansible.builtin.import_role:
    name: infrastructure/traefik-service
  vars:
    service_name: karakeep
    service_port: "{{ karakeep.container.server.config.port }}"

- name: Instantiate karakeep-server container
  ansible.builtin.import_role:
    name: infrastructure/container
  vars:
    container_name: karakeep_server
    container_image: "{{ karakeep.container.server.image }}"
    container_image_tag: "{{ karakeep.container.server.tag }}"
    container_env:
      DATA_DIR: /data
      DISABLE_SIGNUPS: "{{ karakeep.container.server.config.disable_signups }}"
      NEXTAUTH_URL: "https://karakeep.{{ domain }}"
      NEXTAUTH_SECRET: "{{ karakeep.container.server.config.nextauth_secret }}"
      MEILI_ADDR: http://meilisearch:7700
      MEILI_MASTER_KEY: "{{ karakeep.container.meilisearch.config.master_key }}"
      BROWSER_ADDR: http://chrome:9222
    container_volumes:
      - "{{ karakeep.container.server.storage.data }}:/data"
    container_ports:
      - "{{ karakeep.container.server.config.port }}:3000"
    container_networks:
      - "{{ karakeep.container.network }}"
    container_network_aliases:
      - karakeep-server
    container_user: "{{ karakeep.user.name }}"

- ansible.builtin.import_role:
    name: infrastructure/http-healthcheck
  vars:
    service_name: karakeep
    service_port: "{{ karakeep.container.server.config.port }}"

