---
- name: Ensure karakeep meilisearch data location exists
  ansible.builtin.file:
    path: "{{ karakeep_meilisearch_data_location }}"
    state: directory
    owner: "{{ karakeep_user }}"
    group: "{{ karakeep_user }}"
    mode: 0755
    recurse: true

- name: Instantiate karakeep-meilisearch container
  ansible.builtin.include_role:
    name: infrastructure/container
  vars:
    container_name: karakeep_meilisearch
    container_image: "{{ karakeep_meilisearch_image }}"
    container_image_tag: "{{ karakeep_meilisearch_tag }}"
    container_env:
      MEILI_MASTER_KEY: "{{ karakeep_meilisearch_master_key }}"
      MEILI_NO_ANALYTICS: "true"
    container_volumes:
      - "{{ karakeep_meilisearch_data_location }}:/meili_data"
    container_networks:
      - "{{ karakeep_network }}"
    container_network_aliases:
      - meilisearch
    container_user: "{{ karakeep_user }}"

