http:
  routers:
    dashboard:
      entryPoints:
        - websecure
      rule: "Host(`traefik-{{ traefik_subdomain_suffix }}.{{ domain }}`)"
      service: api@internal
      tls:
        certresolver: infomaniak
      middlewares:
        - auth
  middlewares:
    auth:
      basicAuth:
        users:
          - "{{ traefik_dashboard_username }}:{{ traefik_dashboard_password | password_hash('bcrypt') }}"

