http:
  routers:
    dashboard:
      entryPoints:
        - websecure
      rule: "Host(`traefik.{{ domain }}`)"
      service: api@internal
      tls:
        certresolver: infomaniak
      middlewares:
        - auth
  middlewares:
    auth:
      basicAuth:
        users:
          - "{{ traefik.dashboard.username }}:{{ traefik.dashboard.password | password_hash('bcrypt') }}"

