---
- name: Ensure ethtool is installed
  ansible.builtin.package:
    name: ethtool
    state: present

- name: Ensure wake-on-lan configuration script to execute on local service startup
  ansible.builtin.copy:
    dest: "/etc/local.d/wake-on-lan.start"
    content: |
      #!/bin/sh
      {{ superuser_method }} ethtool -s eth0 wol g
    owner: root
    group: root
    mode: 0755

- name: "Ensure {{ wol_poweroff_user }} to power off machine is created"
  ansible.builtin.user:
    name: "{{ wol_poweroff_user }}"
    create_home: true
    home: "/home/{{ wol_poweroff_user }}"
    password_lock: true
    shell: /bin/sh
    state: present

- name: "Ensure {{ wol_poweroff_user }} can turn off the machine without beeing prompted for a password"
  ansible.builtin.lineinfile:
    path: /etc/doas.conf
    line: "permit nopass {{ wol_poweroff_user }} as root cmd {{ superuser_method }} /sbin/poweroff"
    state: present
    owner: root
    group: root
    create: true
    insertafter: EOF
  become: true

- name: Ensure ssh directory exists
  ansible.builtin.file:
    path: "/home/{{ wol_poweroff_user }}/.ssh"
    state: directory
    owner: "{{ wol_poweroff_user }}"
    group: "{{ wol_poweroff_user }}"
    mode: 0755

- name: Ensure ssh public key is in authorized_keys file
  ansible.builtin.copy:
    dest: "/home/{{ wol_poweroff_user }}/.ssh/authorized_keys"
    content: |
      {{ wol_poweroff_user_ssh_public_key_base64 | b64decode }}
    owner: "{{ wol_poweroff_user }}"
    group: "{{ wol_poweroff_user }}"
    mode: 0600

