---
- name: Ensure zfs is installed
  ansible.builtin.package:
    name: zfs
    state: present

- name: Ensure zfs module is loaded
  community.general.modprobe:
    name: zfs
    state: present

- name: Ensure toplevel zpool for service data is created
  community.general.zpool:
    name: "{{ zfs_service_data_pool_name }}"
    state: present
    filesystem_properties:
      compression: lz4
    vdevs:
      - disks: "{{ zfs_devices }}"
        type: mirror

