---
- name: Ensure zfs is installed
  ansible.builtin.package:
    name: zfs
    state: present

- name: Ensure zfs module is loaded
  community.general.modprobe:
    name: zfs
    state: present

- ansible.builtin.import_role:
    name: infrastructure/build_vars
  vars:
    service: zfs

- name: Ensure toplevel zpool for service data is created
  community.general.zpool:
    name: "{{ zfs.service_data_pool_name }}"
    state: present
    filesystem_properties:
      compression: lz4
    vdevs:
      - disks: "{{ zfs.devices }}"
        type: mirror

- name: Ensure zfs pools are imported on boot
  ansible.builtin.file:
    src: /etc/init.d/zfs-import
    dest: /etc/runlevels/boot/zfs-import
    state: link

- name: Ensure zfs dataset encryption keys are loaded at boot
  ansible.builtin.file:
    src: /etc/init.d/zfs-load-key
    dest: /etc/runlevels/boot/zfs-load-key
    state: link

- name: Ensure zfs datasets are mounted at boot
  ansible.builtin.file:
    src: /etc/init.d/zfs-mount
    dest: /etc/runlevels/boot/zfs-mount
    state: link

