---
- name: Ensure gitea data location exists
  ansible.builtin.file:
    path: "{{ gitea.container.postgres.storage.data }}"
    state: directory
    owner: "{{ gitea.user.name }}"
    group: "{{ gitea.user.name }}"
    mode: 0755
    recurse: true

- name: Instantiate gitea-postgres container
  ansible.builtin.import_role:
    name: infrastructure/container
  vars:
    container_name: gitea_postgres
    container_image: "{{ gitea.container.postgres.image }}"
    container_image_tag: "{{ gitea.container.postgres.tag }}"
    container_env:
      POSTGRES_DB: "{{ gitea.container.postgres.config.db.name }}"
      POSTGRES_USER: "{{ gitea.container.postgres.config.db.username }}"
      POSTGRES_PASSWORD: "{{ gitea.container.postgres.config.db.password }}"
    container_volumes:
      - "{{ gitea.container.postgres.storage.data }}:/var/lib/postgresql/data"
    container_networks:
      - "{{ gitea.container.network }}"
    container_network_aliases:
      - database
    container_user: "{{ gitea.user.name }}"

