---
- name: Enable firewall to forward dev port
  hosts: localhost
  tasks:
    - name: Enable http service on public interface
      ansible.posix.firewalld:
        service: http
        zone: public
        state: enabled

    - name: Enable dev port on public interface
      ansible.posix.firewalld:
        port: "{{ item }}/tcp"
        zone: public
        state: enabled
      loop:
        - "{{ immich_server_port }}"
        - "{{ filebrowser_server_port }}"
        - "{{ photoprism_server_port }}"
        - "{{ gitea_server_port }}"
        - "{{ traefik_dashboard_port }}"
        - "{{ pihole_server_port }}"
        - "{{ homeassistant_server_port }}"
        - "{{ karakeep_server_port }}"

