---
- name: Enable firewall to forward dev port
  hosts: localhost
  tasks:
    - name: Enable http service on public interface
      ansible.posix.firewalld:
        service: http
        zone: public
        state: enabled

    - name: Enable dev port on public interface
      ansible.posix.firewalld:
        port: "{{ item }}/tcp"
        zone: public
        state: enabled
      loop:
        - "{{ immich.container.server.config.port }}"
        - "{{ filebrowser.container.server.config.port }}"
        - "{{ photoprism.container.server.config.port }}"
        - "{{ gitea.container.server.config.port }}"
        - "{{ traefik.container.server.config.port }}"
        - "{{ pihole.container.server.config.port }}"
        - "{{ homeassistant.container.server.config.port }}"
        - "{{ karakeep.container.server.config.port }}"

