http:
  routers:
    {{ item.service_name }}:
      entryPoints:
        - websecure
      rule: "Host(`{{ item.service_name }}.{{ domain }}`)"
      service: {{ item.service_name }}-service
      tls:
        certresolver: infomaniak
  services:
    {{ item.service_name }}-service:
      loadBalancer:
        servers:
          - url: "http://localhost:{{ item.service_port }}"

