global:
  checkNewVersion: false
  sendAnonymousUsage: false
entryPoints:
  web:
    address: ":{{ traefik_web_port }}"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":{{ traefik_websecure_port }}"
api:
  dashboard: true
  insecure: true # TODO remove
providers:
  file:
    directory: "/etc/traefik/dynamic"
    watch: true

