---
- name: Database file state
  ansible.builtin.stat:
    path: "{{ filebrowser.container.server.storage.db_data }}/filebrowser.db"
  register: database_file

- name: Get uid of filebrowser user
  ansible.builtin.command: "id -u {{ filebrowser.user.name }}"
  register: filebrowser_user_uid

- name: Get gid of filebrowser user
  ansible.builtin.command: "id -g {{ filebrowser.user.name }}"
  register: filebrowser_user_gid

- name: Ensure filebrowser server is configured correctly
  containers.podman.podman_container:
    name: filebrowser_server_config
    image: "{{ filebrowser.container.server.image }}:{{ filebrowser.container.server.tag }}"
    user: "{{ filebrowser_user_uid.stdout }}:{{ filebrowser_user_gid.stdout }}"
    userns: keep-id
    recreate: false
    restart_policy: "no"
    state: started
    volumes:
      - "{{ filebrowser.container.server.storage.data }}:/srv"
      - "{{ filebrowser.container.server.storage.db_data }}:/database"
      - "{{ filebrowser.container.server.storage.config }}:/config"
    command: "{{ item }}"
  loop:
    - "config init --create-user-dir --port 8080"
    - "users add {{ filebrowser.container.server.config.admin.username }} {{ filebrowser.container.server.config.admin.password }} --perm.admin=true"
  when: not database_file.stat.exists

