---
- name: Ensure filebrowser data and config location exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ filebrowser.user.name }}"
    group: "{{ filebrowser.user.name }}"
    mode: 0755
  loop:
    - "{{ filebrowser.container.server.storage.config }}"
    - "{{ filebrowser.container.server.storage.data }}"
    - "{{ filebrowser.container.server.storage.db_data }}"

- name: Ensure apache configs for none root port usage are available for mounting
  ansible.builtin.copy:
    src: settings.json
    dest: "{{ filebrowser.container.server.storage.config }}"

- name: Ensure treafik is configured for filebrowser
  ansible.builtin.import_role:
    name: infrastructure/traefik-service
  vars:
    service_name: filebrowser
    service_port: "{{ filebrowser.container.server.config.port }}"

- name: Instantiate filebrowser-server container
  ansible.builtin.import_role:
    name: infrastructure/container
  vars:
    post_container_creation_tasks: roles/service/filebrowser/tasks/filebrowser-configuration.yaml
    container_name: filebrowser_server
    container_image: "{{ filebrowser.container.server.image }}"
    container_image_tag: "{{ filebrowser.container.server.tag }}"
    container_volumes:
      - "{{ filebrowser.container.server.storage.data }}:/srv"
      - "{{ filebrowser.container.server.storage.db_data }}:/database"
      - "{{ filebrowser.container.server.storage.config }}:/config"
    container_ports:
      - "{{ filebrowser.container.server.config.port }}:8080"
    container_networks:
      - "{{ filebrowser.container.network }}"
    container_network_aliases:
      - filebrowser-server
    container_user: "{{ filebrowser.user.name }}"

- ansible.builtin.import_role:
    name: infrastructure/http-healthcheck
  vars:
    service_name: filebrowser
    service_port: "{{ filebrowser.container.server.config.port }}"

